#------CURRENT DB------
POSTGRES_DB=you_db_name
POSTGRES_USER=you_db_user
POSTGRES_PASSWORD=you_db_pass
POSTGRES_HOST=you_db_host
POSTGRES_PORT=you_db_port

#Django settings
SECRET_KEY=you_django_key
DEBUG=you_bool_value
ALLOWED_HOSTS=you_django_host

# Redis
CELERY_BROKER_URL=your_url
CELERY_RESULT_BACKEND=your_backend

# Email
EMAIL_BACKEND=your_backend
EMAIL_HOST=your_host
EMAIL_PORT=your_port
EMAIL_USE_TLS=your_bool_value
EMAIL_USE_SSL=your_bool_value
EMAIL_HOST_USER=your_host_user
EMAIL_HOST_PASSWORD=your_pass

#-----STRIPE API-----
STRIPE_PUBLISHABLE_KEY=ypur_pk_test
STRIPE_SECRET_KEY=your_sk_test


#-----DOCKER-----
DOCKER_HUB_USERNAME=your_docker_hub_username