#------CURRENT DB------
POSTGRES_DB=you_db_name
POSTGRES_USER=you_db_user
POSTGRES_PASSWORD=you_db_pass
POSTGRES_HOST=you_db_host
POSTGRES_PORT=you_db_port

#Django settings
SECRET_KEY=you_django_key
DEBUG=you_bool_value
ALLOWED_HOSTS=you_django_host

# Redis
CELERY_BROKER_URL=your_url
CELERY_RESULT_BACKEND=your_backend



